
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Hangman
    link(rel="stylesheet" href="/static/style.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")

    base(href="/")

  body
    main
      button.cta-start-game Start Game
      section#game
        div#lives
        div#blanks
        div.letters#unused
          h4 Unused
          div.container-letters
        div.letters#used
          h4 Used
          div.container-letters

    script(src='/static/logic.js')
    script(src='/static/axios.min.js')
